<!doctype html>
<html lang="en">
  <head>
    <title>Add food</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      
      <form  class="form-control-sm">
        <legend class="form-legend">Food information</legend>
        <div class=" form-group col-6">
          <label for="brand" class="form-label">Manufacturer / Brand</label>
          <input type="text" class="form-control" name="brand" id="brand" placeholder="">
        </div>
      
        <div class="form-group col-6">
          <label for="description" class="form-label">Food description</label>
          <input type="text" class="form-control" name="description" id="description" placeholder="">
        </div>
        <hr />

        <legend class="form-legend">Nutrition per 100g</legend>
        <div class="form-row">
          <div class="col-4">
            <div class="form-row form-group mb-2">
              <label for="" class="col-form-label">Energy</label>
              <input type="text" class="form-control ml-auto col-2" name="joules" id="joules" placeholder="Joules">
              <input type="text" class="form-control ml-4 col-2" name="calories" id="calories" placeholder="Kcal">
              
            </div>
            <fieldset class="carbset">
              <div class="form-row form-group mb-2">
                <label for="" class="col-form-label ">Total Carbohydrates</label>
                <input type="text" class="form-control ml-auto col-2" name="carbs" id="carbs" placeholder="g">
              </div>
              <div class="form-row form-group mb-2">
                <label for="" class="col-form-label pl-4">Sugar</label>
                <input type="text" class="form-control ml-auto col-2" name="sugar" id="sugar" placeholder="g">
              </div>
              <div class="form-row form-group mb-2">
                <label for="" class="col-form-label pl-4">Fiber</label>
                <input type="text" class="form-control ml-auto col-2" name="fiber" id="fiber" placeholder="g">
              </div>
            </fieldset>
          </div>
          <div class="col-4 ml-4">
            <div class=" form-row form-group mb-2">
                <label for="" class="col-form-label">Protein</label>
                <input type="text" class="form-control ml-auto col-2" name="protein" id="protein" placeholder="g">
            </div>  
            <fieldset class="fatset">
              <div class="form-row form-group mb-2">
                <label for="" class="col-form-label">Total Fat</label>
                <input type="text" class="form-control ml-auto col-2" name="fat" id="fat" placeholder="g">
              </div>
              <div class="form-row form-group mb-2">
                <label for="" class="col-form-label pl-4">Saturated Fat</label>
                <input type="text" class="form-control ml-auto col-2 " name="fat-sat" id="fat-sat" placeholder="g">
              </div>
              <div class="form-row form-group mb-2">
                <label for="" class="col-form-label pl-4">Unsaturated Fat</label>
                <input type="text" class="form-control ml-auto col-2" name="fat-unsat" id="fat-unsat" placeholder="g">
              </div>
            </fieldset>
               
        </div>
      </div>            
        <div class="form-group form-row pt-3">
          <div class="col-10">
            <button type="submit" class="btn btn-success">Add new food</button>
            <button type="cancel" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>